.team-container {
    margin-top: 80px;

    .team-title {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 57px;
        color: #000000;
        text-align: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border: 3px solid #a9a9a9;
            border-radius: 4px;
            width: 62px;
            left: 40%;
            bottom: -12px;

            @media screen and (max-width:1400px){
                position: absolute;
                left: 39%;
            }
            @media screen and (max-width:1200px){
                position: absolute;
                left: 37%;
            }
            @media screen and (max-width:992px){
                position: absolute;
                left: 32%;
            }
            @media screen and (max-width:768px){
                position: absolute;
                left: 27%;
            }
            @media screen and (max-width:576px){
                position: absolute;
                left: 25%;
            }
            @media screen and (max-width:488px) {
                position: absolute;
                left: 20%;
                
            }
        }
    }

    .team-border {
        height: 0px;
        max-width: 241px;
        border: 1px solid #a9a9a9;
        @media screen and (max-width:488px) {
            max-width: 200px;
            
        }

    }
}