@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.service-container {
  margin-top: 80px;

  .main-border {
    height: 0px;
    max-width: 220px;
    border: 1px solid #a9a9a9;
  }

  .service-title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    color: #000000;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      border: 3px solid #a9a9a9;
      border-radius: 4px;
      width: 62px;
      left: 41%;
      bottom: -12px;

      @media screen and (max-width: 1400px) {
        position: absolute;
        left: 40%;
      }

      @media screen and (max-width: 1200px) {
        position: absolute;
        left: 38%;
      }

      @media screen and (max-width: 992px) {
        position: absolute;
        left: 34%;
      }

      @media screen and (max-width: 768px) {
        position: absolute;
        left: 29%;
      }

      @media screen and (max-width: 576px) {
        position: absolute;
        left: 29%;
        width: 49px;
      }
    }
  }
}

.engagement-title {
  text-align: start;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  color: #2c2c2c;

  @media screen and (max-width: 567px) {
    margin: auto;
    text-align: center;
  }

  .engagement-para {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
  }
}

.communication-container {
  margin-top: 100px;

  .comm-title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    text-align: start;
    color: #2c2c2c;

    @media screen and (max-width: 567px) {
      margin: auto;
      text-align: center;
    }
    .comm-para {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      color: #2c2c2c;
    }
  }
}
